body{
    background-image: url("splash.3e1504a6713f.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}


